<app-navbar></app-navbar>



<div class="jumbotron">
  <div class="container">
    <h1>Browse Our Movies</h1>
    <p>sum dolor sit amet, eu eam enim ocurreret. Nihil congue interesset mei ea, ea civibus assueverit eos. Sed et odio wisi, nec ut semper senserit, at deserunt contentiones reprehendunt vel. Quo modo tempor deseruisse eu. Dicam scribentur cu per.

In tota zril aliquid ius, sint sale sed at, usu in veniam hendrerit. Pri an summo assentior adolescens. Animal probatus ei eos, at vel laoreet ancillae constituam, numquam admodum vix ne. Has ea modus bonorum ap</p>
    <p><a class="btn btn-primary btn-lg" href="#">Learn More</a></p>
  </div>
</div>

<app-movies></app-movies>

<hr>

<footer>
    <p>&copy; 2016 MovieFinder by Trevor Knott</p>
</footer>