<div class="row">
  <div class="col-md-2">
    <h2>Heading</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione reiciendis doloribus consectetur recusandae sunt, id iste, repellendus nulla neque magnam suscipit. Recusandae, alias cumque. Omnis, expedita eaque dolor inventore eius.</p>
    <p><a href="#" class="btn btn-default" role="button">View details</a></p>
  </div>
  <div class="col-md-2">
    <h2>Heading</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione reiciendis doloribus consectetur recusandae sunt, id iste, repellendus nulla neque magnam suscipit. Recusandae, alias cumque. Omnis, expedita eaque dolor inventore eius.</p>
    <p><a href="#" class="btn btn-default" role="button">View details</a></p>
  </div>
  <div class="col-md-2">
    <h2>Heading</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione reiciendis doloribus consectetur recusandae sunt, id iste, repellendus nulla neque magnam suscipit. Recusandae, alias cumque. Omnis, expedita eaque dolor inventore eius.</p>
    <p><a href="#" class="btn btn-default" role="button">View details</a></p>
  </div>
  <div class="col-md-2">
    <h2>Heading</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione reiciendis doloribus consectetur recusandae sunt, id iste, repellendus nulla neque magnam suscipit. Recusandae, alias cumque. Omnis, expedita eaque dolor inventore eius.</p>
    <p><a href="#" class="btn btn-default" role="button">View details</a></p>
  </div>
  <div class="col-md-2">
    <h2>Heading</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione reiciendis doloribus consectetur recusandae sunt, id iste, repellendus nulla neque magnam suscipit. Recusandae, alias cumque. Omnis, expedita eaque dolor inventore eius.</p>
    <p><a href="#" class="btn btn-default" role="button">View details</a></p>
  </div>
  <div class="col-md-2">
    <h2>Heading</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione reiciendis doloribus consectetur recusandae sunt, id iste, repellendus nulla neque magnam suscipit. Recusandae, alias cumque. Omnis, expedita eaque dolor inventore eius.</p>
    <p><a href="#" class="btn btn-default" role="button">View details</a></p>
  </div>
</div>